<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>vue-slider</title>
</head>
<body>
    <div id="app">
        <div class="card">
          <img v-if="slides.length > 0" :src="slides[currentSlideIndex].immagine" alt="Slide Image">
          <span class="counter">{{ currentSlideIndex + 1 }}</span>
          <h1 v-if="slides.length > 0">{{ slides[currentSlideIndex].titolo }}</h1>
          <p v-if="slides.length > 0">{{ slides[currentSlideIndex].testo }}</p>
        
        
        <button @click="prevSlide" class="button-arounder">Previous</button>
        <button @click="nextSlide" class="button-arounder">Next</button>
    </div>
      </div>
    
    <script src="main.js"></script>
</body>
</html>